In [4]:
from sklearn.datasets import load_iris
import pandas as pd
data = load_iris()

In [5]:
df = pd.DataFrame(data.data, columns=data.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [6]:
data.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [7]:
type(data)

sklearn.utils.Bunch

In [15]:
df.loc[df['sepal length (cm)'] > 6]

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
50                 7.0               3.2                4.7               1.4
51                 6.4               3.2                4.5               1.5
52                 6.9               3.1                4.9               1.5
54                 6.5               2.8                4.6               1.5
56                 6.3               3.3                4.7               1.6
..                 ...               ...                ...               ...
144                6.7               3.3                5.7               2.5
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3

[61 rows x 4 columns]

In [17]:
df.loc[:, df['sepal length (cm)'] > 6]

TypeError: '>' not supported between instances of 'str' and 'int'